html, body {
    font-family: 'Roboto', sans-serif; 
    background: url(../img/gallery2-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 10%;
}
  
/* ==============================================NAVIGATION===================================== */
  .navigation {
    height: 70px;
    position: sticky;
    top: 1px; 
    z-index: 2;
    background-color:rgba(72,72,72,0.7);
    font-size: 1.5em;
}
  
  .nav-container {
    max-width: 1000px;
    margin: 0 auto; }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    nav ul li {
      position: relative;
      display: inline-block; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        color: rgb(255, 208, 0);
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          background: rgb(37, 49, 220);
          color: #ffffff; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' '; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 4;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color:rgba(72,72,72,0.7);
    height: 70px;
    width: 70px; }
  
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block; }
  
    nav {
      width: 100%;
      padding: 70px 0 15px; }
      nav ul {
        display: none; }
        nav ul li {
          float: none; }
          nav ul li a {
            padding: 15px;
            line-height: 20px; }
          nav ul li ul li a {
            padding-left: 30px; }
  
    .nav-dropdown {
      position: static; } }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important; } }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px; }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
    #nav-toggle span:before {
      top: -10px; }
    #nav-toggle span:after {
      bottom: -10px; }
    #nav-toggle.active span {
      background-color: transparent; }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0; }
      #nav-toggle.active span:before {
        transform: rotate(45deg); }
      #nav-toggle.active span:after {
        transform: rotate(-45deg); 
      }
 /*=========================================IMAGE GALLEY==============================================  */
body {
  padding: 30px 0;
  position: relative;
  margin: 0;

}

.gallery {
  width: 600px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
.img-c {
  width: 200px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 45% !important;
  height: 70% !important;
  position: fixed;
  z-index: 2;
 
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

/* ================================================================================================ */
h2{
    font-size: 3em;
}
hr{
    margin-left:100px ;
    margin-right:100px ;
}


/* =============================================================FOOTER=========================== */
footer {
  padding: 2%;
  background-color: #000;

}

footer p{
  color: #f5faff;
  font-size: 5em;
  
}
.footer{
  color: #f5faff;
  font-size: 1.5em;
  
}

/*=================================================================================================== */



/* ====================================================SIDE NAV========================================== */

.sidenav {
  height: 70%;
  border-radius:10px; 
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color:rgba(72,72,72,0.7);
 overflow-x: hidden; 
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {                                /*SIDE NAV LINKS*/
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d3ae09;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {             /* x button in top right corner of side nav*/
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {         /*query for mobile devices*/
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

h3, {
  color: black;                   /*This code is for the side nav Heading*/
}
a .sideindex {
  color: black;       
}
span {                                        /*This code is for the side nav hamburger icon*/
   margin-left: 200px;
  margin-bottom:10px;
} 

i{
  margin-left:1.5%
}
/* =================================BACK TO TOP==================================== */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #0f0cbb;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #7c1065;
}
#back-to-top.show {
  opacity: 1;
}
#back-to-top:hover, #back-to-top:focus {
  animation: pulse 2s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.pulse {
  --color: #f71485;
  --hover: #f74d14;
}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: rgb(255, 255, 255);
}

/* ================================================================================================== */
